body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #c0c0c0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
}

button {
    background-color: #4f58ac;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color:#4d559e
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}

#errorMessage {
    color: red;
    margin-top: 10px;
}